body {
<<<<<<< HEAD
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
}


.container{
    max-width: 1440px;
    margin: 0 auto;
   

}

         /* --style header-- */
.head{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 37px 84px;
   gap: 100px;
}

.head .container{
   margin-left: 84px;
 }


      /* --style logo-- */

 .logo{
     max-width: 234px ;
     max-height: 49px;
 }


 .logo img{
    max-width: 234px ;
    max-height: 49px;
 }


   .logo img:hover{
   background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
   border-radius: 20px;
  }

         /* --nstyle navigation-- */

 .nav{
    display: flex;
    gap: 35px;
    align-items: center;
 }


 .nav a{
   font-family: Poppins, sans-serif;
   font-size: 14px;
   font-weight: 700;
   color: rgba(38, 38, 38, 1);
   text-decoration: none;
   padding: 10px 20px; 
   position: relative; 
   display: inline-block; 
   transition: color 0.3s ease;
   box-sizing: border-box;
   text-wrap: nowrap;
}

.nav a::before {
   content: ''; 
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(76, 224, 215, 0); 
   border-radius: 40px; 
   transition: background-color 0.3s ease; 
   z-index: -1; 
}


.nav a:hover::before {
   background-color: rgba(76, 224, 215, 1); 
}


 .nav a:hover{
   color: white; 
}


 .nav img:hover{
   transform: rotate(35deg);
}
 
.hamburger{
   display: none;
}


         /* --style section1-- */

 .magazin{
    width: 1272px;
    height: 559px;
    border-radius: 40px;
    background: url(./assets/Mask\ group.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: left;
    align-items: first baseline;
    gap: 20px;
    padding: 258px;
    padding-left: 57px;
   
    
 }


 .magazin h1{
    
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    color:  rgba(249, 249, 249, 1)
    
    
 }


 h1 span{
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: Poppins;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;

   
}


.magazin p{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    
}


.magazin p:last-child{
   
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
   
   
}

.breack span::before{
    content: "\A";
    white-space: pre;
}

            /*--style secton5--*/

            .card1,
            .card2,
            .card3{
              
             margin-top: 88px;
             
             display: flex;
             justify-content: space-between;
             gap: 45px;
             padding-left: 86.5px;
          
            }
            .card2,
            .card3{
              margin-top: 48px;
            }
          
          
            .fashion,
            .brands,
            .health{
             background-image: url(./assets/Mask\ group\ \(5\).png);
             width: 547.5px;
             height: 368px;
             width: 100vh;
             background-repeat: no-repeat;
             background-size: cover;
             background-position: left;
             border-radius: 40px;
            
           }
          
           .brands{
            background-image: url(./assets/Mask\ group\ \(6\).png);
            
            
           }
          
           .health{
            background-image: url(./assets/Mask\ group\ \(7\).png);
            
           }
          
           .section5 button{
             background-color: rgba(38, 38, 38, 1);
             border-radius: 40px;
             padding: 10px 54px;
             margin-top: 26px;
             margin-left: 35px;
             max-width: 176PX;
             text-wrap: nowrap;
             
            
           }
            
           .section5 button a{
            text-align: center;
            color:  rgba(255, 255, 255, 1);
            font-family: Poppins, sans-serif;
            font-weight: 700;
           } 
          
           .card3 button{
            display: flex;
            justify-content: center;
           }
          
           .section5 button:hover{
              background-color: white;
              box-shadow: 2px #333;
           }
           
           .section5 button a:hover{
            color: #333;
           }
          
          
          
           .reasons{
            display: flex;
            flex-direction: column;
          
            
           }
          
           .top p{
            color:  rgba(188, 188, 188, 1);
            font-family: Poppins;
          
          font-weight: 400;
          
          text-wrap: nowrap;
          
           
           }
          
          
           
            
            .top{
             display: flex;
             gap:  135px;
             margin-bottom: 52px;
           }
          
           .top p{
             padding-right: 110px;
             text-align: left;
          
           }
          
           
           
           .mid{
           display: flex;
           flex-direction: column;
           gap: 40px;
           }
          
           .mid h3{
          font-family: Poppins;
          font-size: 26px;
          font-weight: 700;
          text-align: left;
          max-width: 540px;
          
           }
           .card2 h3{
            max-width: 400px;
           }
          
           .mid p{
            font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          max-width: 450px;
          
           }
          
           .mid p span::before {
            content: "";
            display: block;
            
          }
           .card3 h3{
            max-width: 400px;
           }
          
           .mid p:last-child{
            padding-bottom:30px ;
            
           }
           
           .bottom{
            display: flex;
            align-items: center;
            gap: 20px;
           }
           .bottom p{
            color: rgba(76, 224, 215, 1);
            font-family: Poppins;
          font-size: 12px;
          font-weight: 700;
          text-align: left;
          
            
           }
          
          


         /* --stye footer-- */

.footer{
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
        
}

         /* --footer first-section--*/

.first-section{
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    gap: 558px;
    padding-left: 86.5px;

    
}
 
.first-section h3{
   
    color: rgba(38, 38, 38, 1);
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-wrap: nowrap;
    
}

 .navigation{
    display: flex;
    gap: 20px;
  
     
 }

 .navigation img{
   width: 31px;
   height: 31px;
 }


 .navigation img:hover{
   transform: scale(1.2);
   
 }

      /* -- footer second-section-- */

 .second-section div{
    width: 1267px;
    height: 0px;
    border: 1px solid #BCBCBC;
    margin: 0 auto;
 }

 .second-section p{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color:   rgba(38, 38, 38, 1);
   
 }

 .second-section p:last-child{
   padding-left: 86.5px;
   padding-top: 34px;
   margin-bottom: 37px;
  }
  

  
@media (max-width:1000px){
   .head {
     flex-direction: column;
     align-items: flex-start;
     padding: 20px;
     gap: 20px;
 }
 
 .nav {
     flex-direction: column;
     gap: 20px;
     align-items: flex-start;
     display: none;
 }
 
 .nav.active {
     display: flex;
 }
 

 .hamburger {
   display: none;
   display:flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 80px;
   height: 65px;
   cursor: pointer;
}

.hamburger span {
   
   background-color: #333;
   height: 10px;
   width: 100%;
   border-radius: 5px;
   transition: all 0.3s ease;
   
}

 .section1{
   max-width: fit-content;
 }
 
 .footer .first-section{
   flex-direction: column;
   gap:15px;
   justify-content: flex-start;
   max-height: fit-content;
 }
 .second-section p{
   
   text-wrap: nowrap;
 }
 }

    


   

    



  


  

    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


/* Section 2 - Topics */

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: none;
    box-shadow: none;
    font-family: "poppins", sans-serif ;
    font-weight: 700;
    box-sizing: border-box;

}

.section2-div { 
    max-width: 1440px;

}

#section2 h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #262626;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: auto;

}

.section2-cards {
    max-width: 1272px;
    width: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: 87px;
}

.section2-card {
    width: 204px;
    height: 291px;
    top: 849px;
    gap: 0px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: 0.25s;
    padding: 51px 30px 29px 30px;
    box-sizing: border-box;

}

.section2-card:hover {
    transform: scale(1.07);
}

.section2-card img {
    width: 86px;
    height: 86px;

}

.section2-card button {
    color: #262626;
    padding: 10px 40px;
    background-color: #4CE0D7;
    border-radius: 40px;
    border-color: #4CE0D7;
    font-size: 12px;
    font-weight: 700;
    border-style: solid;
    cursor: pointer;
    margin-top: 9px;
}

.section2-card:hover button {
    background-color: #ffff;
}


.section2-card h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #262626;

}

.line {
    width: 1267px;
    height: 0px;
    top: 1227.5px;
    left: 85.5px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #BCBCBC;
    margin-bottom: 52.5px;

}

/* End of Section 2 */


=======
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


/*START OF SECTION4*/


#section4 {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background: transparent;
  font-family: poppins;
  margin-bottom: 88px;
  transition: color 0.5s ease;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease;
  max-width: fit-content;
}

#section4:hover .section-header h2 {
  color: #4ce0d7;
}

.section-header {
  width: 100%;
  text-align: left;
}

.section-header h2 {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #262626;
  margin-left: 126px;
  text-align: left;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-left: 118px;
  padding-right: 118px;
  margin-top: 55px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  height: 670px;
  max-height: fit-content;
  border-radius: 20px;
}

.card-image {
  position: relative;
  width: 100%;
  height: 278.09px;
  max-height: fit-content;
  overflow: hidden;
  border-radius: 20px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  transition: transform 0.5s ease;
  justify-content: center;
}

.card-image:hover img {
  transform: scale(1.1);
}

.card-text-top {
  position: absolute;
  top: 20px;
  left: 34px;
  background-color: #262626;
  color: #fff;
  border-radius: 40px;
  padding: 9px 50px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.card-image:hover .card-text-top {
  background-color: #4ce0d7;
}

.card-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-left: 20px;
  position: relative;
  flex-direction: row;
}

.profile-picture {
  width: 65px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.5s ease, border-radius 0.5s ease;
  object-fit: cover;
}

.profile-picture:hover {
  transform: scale(1.67);
  border-radius: 20%;
  z-index: 2;
}

.profile-info {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.profile-info p {
  color: #bcbcbc;
}

.name {
  margin: 0 0 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  transition: color 0.5s ease, font-size 0.5s ease;
}

.name:hover {
  color: black;
  font-size: 30px;
}

.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  transition: color 0.5s ease;
  margin: 0;
}

.date:hover {
  color: black;
}

.card-content {
  padding: 15px;
  text-align: left;
  margin-left: 34px;
  margin-right: 75px;
  margin-top: 0;
  transition: text-decoration 0.5s ease;
}
.card-content:hover h3{
  text-decoration: underline;

}

.card-content h3 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  transition: text-decoration 0.5s ease;
  margin-top: 0;
}



/* START OF SECTION 3*/

#section3 {
  display: flex;
  justify-content: center;
  min-height: 700px;
  font-family: poppins;
  background-color: #f4f4f4;
  padding-bottom: 97px;
}

.card3 {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 1204px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  height: 700px;
}

.card-image3 {
  position: relative;
  height: 360px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card-image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.7s ease, object-position 0.7s ease; /* Smooth transition */
}

.card-image3:hover img {
  object-position: 50% 30%; /* Adjust the position to reveal more of the cropped image */
  transform: scale(1.05); /* Slightly increase the size */
}

.text-badge3 {
  position: absolute;
  top: 23px;
  left: 47px;
  background: #262626;
  color: #fff;
  padding: 10px 81px;
  border-radius: 40px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.5s ease;
}
.card-image3:hover .text-badge3 {
  background-color: #4ce0d7;
}

.card-profile3 {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  position: relative; /* Position relative for absolute positioning of child elements */
  margin-left: 50px;
  margin-top: 5px;
  width: 100%;
}

.profile-picture3 {
  width: 65px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease, border-radius 0.3s ease;
  margin-right: 45px;
}

.profile-picture3:hover {
  object-fit: fill;
  transform: scale(1.7);
  border-radius: 20%;
  z-index: 2;
}

.name3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  transition: color 0.5s ease, font-size 0.5s ease;
  color: #bcbcbc;
}

.name3:hover {
  color: black;
  transform: scale(1.5);
}

.profile-picture3:hover ~ .name3 {
  color: black;
  transform: scale(1.5);
}

.info3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  color: #bcbcbc;
  height: 30px;
  transition: color 0.5s ease, font-size 0.5s ease, transform 0.3s ease;
  margin-left: 100px;
}

.date3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #bcbcbc;
  transition: color 0.5s ease;
  text-align: left;
  position: relative;
}

.info3:hover .date3 {
  color: #262626;
}

.event3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.24em;
  text-align: right;
  color: #f25e5e;
  margin-right: 200px;
  position: relative;
}

.info3:hover .event3 {
  transform: scale(1.3);
}

.underimag3 {
  margin-left: 65px;
  margin-right: auto;
  transition: text-decoration 0.3s ease;
  margin-top: 20px;
}

.underimag3 h2 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 25px;
  transition: text-decoration 0.3s ease; /* Add transition for smooth effect */
  position: relative;
}

.underimag3 h2:hover {
  text-decoration: underline; /* Apply underline on hover */
}
.underimag3:hover h2 {
  text-decoration: underline;
}

.underimag3 p {
  font-size: 16px;
  color: #262626;
  text-align: left;
  max-width: 800px;
  position: relative;
}

.read-more3 {
  padding-top: 40px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
}

.arrow {
  font-size: 30px;
  margin-right: 10px;
  color: #4ce0d7;
  transition: color 0.3s;
}

.read-more-text {
  color: #4ce0d7;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.24em;
}

.read-more3:hover .arrow {
  color: blue; /* Change the arrow color on hover */
}

.read-more3:hover .read-more-text {
  color: blue;
}

@media (max-width: 700px) {
  .card-profile3 {
    margin-left: 10px;
    flex-direction: column;
  }
  .text-badge3 {
    top: 10px;
    left: 10px;
    padding: 10px 10px;
    border-radius: 40px;
  }
  .profile-picture3 {
    margin-right: 0;
  }
  .info3 {
    margin-left: 0;
    gap: 30px;
  }
  .event3 {
    margin-right: 0cm;
  }
  .underimag3 {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .info3 {
    flex-direction: column;
    gap: 2px;
  }

  header h1 {
    padding: 0;
    margin: 0;
    font-size: 1em;
  }
}

@media (max-width: 200px) {
  .card-profile3 {
    margin-left: 0px;
  }
  .text-badge3 {
    top: 5px;
    left: 5px;
    padding: 10px 10px;
    border-radius: 40px;
  }
  .event3 {
    letter-spacing: normal;
  }
  .info3 {
    gap: 10px;
  }
  .underimag3 {
    margin-left: 2px;
  }
}
/*END OF SECTION3*/


.card-content h3:hover {
  text-decoration: underline;
}

.card-content p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.readmore {
  display: inline-flex;
  align-items: center;
  color: #4ce0d7;
  text-decoration: none;
  font-weight: bold;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.24em;
  text-align: left;
}

.readmore:hover {
  color: blue;
}

.readmore span {
  text-decoration: none;
  font-size: 30px;
  margin-right: 9px;
}

.readmore:hover span {
  color: blue;
}


@media (max-width: 1200px) {
  #section4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-header h2 {
    text-align: center;
    margin-left: 0;
  }

  .cards {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px; /* Ensure space between cards */
  }
}

@media (max-width: 900px) {
  #section4 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
  }

  .readmore {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  #section4 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-content h3 {
    font-size: 22px;
  }

  .card-content p {
    font-size: 14px;
  }

  .readmore {
    font-size: 10px;
    letter-spacing: 0.2em;
  }

  .profile-picture {
    width: 20px;
    height: 20px;
  }
}
/*END OF SECTION4*/



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
>>>>>>> section3



