*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
}



.container{
    max-width: 1440px;
    margin: 0 auto;
   

}

         /* --style header-- */
.head{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 37px 84px;
}

      /* --style logo-- */

 .logo{
     max-width: 234px ;
     max-height: 49px;
 }


 .logo img{
    max-width: 234px ;
    max-height: 49px;
 }


   .logo img:hover{
   background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
   border-radius: 20px;
  }

         /* --nstyle navigation-- */

 .nav{
    display: flex;
    gap: 80px;
    align-items: center;
 }


 .nav a{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    color:  rgba(38, 38, 38, 1);
  
 }


 .nav a:hover{
   background-color: rgba(76, 224, 215, 1);
   padding: 9px 32.1px 7.12px 32px;
   border-radius: 40px;

}


 .nav img:hover{
   transform: rotate(35deg);
}

         /* --style section1-- */

 .magazin{
    width: 1272px;
    height: 559px;
    background: url(./assets/Mask\ group.png);
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: left;
    align-items: first baseline;
    gap: 20px;
    padding: 258px;
    padding-left: 57px;
   
    
 }


 .magazin h1{
    
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    color:  rgba(249, 249, 249, 1)
    
    
 }


 h1 span{
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: Poppins;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;

   
}


.magazin p{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    
}


.magazin p:last-child{
   
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
   
   
}

.breack span::before{
    content: "\A";
    white-space: pre;
}

         /* --stye footer-- */

.footer{
    height: 308px;
    padding: 87px;
    display: flex;
    flex-direction: column;
    
    
}

         /* --footer first-section--*/

.first-section{
    width: 1440px;
    height: 213px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 856px;
    padding-bottom: 77px;
   position: relative;

    
}
 
.first-section h3{
   
    color: rgba(38, 38, 38, 1);
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    
    

}
 .footer h3{
    position: absolute;
    margin: 87px 337px 179px 876px;
    padding-top: 87px;

 }

 .navigation{
    display: flex;
    gap: 18px;
    width: 235px;
     
 }

 .navigation img:hover{
   transform: scale(1.2);
   
 }

      /* -- footer second-section-- */

 .second-section div{
    width: 1267px;
    height: 0px;
    border: 1px solid #BCBCBC;
 }

 .second-section p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color:   rgba(38, 38, 38, 1);
    padding-top: 15px;
  

 }


    


   

    



  


  
